footer {
    background-color: black;
} 
.home {
    margin: 300px 0px;
}
.header {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-image: url('../../../img/hero.jpg');
}
.overlay {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    background: rgba(244, 244, 244, 0.79);
    top: 0;
    left: 0;
}
.header__textbox {
    position: absolute;
    top: 30%;
    max-width: 768px;

    & p {
        font-size: 1.3rem;
    }
}
.home-1__image {
    max-width: 100%;
}